@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Creepster&display=swap');
body{
    background-image: linear-gradient(to top right, #1A1D23,#03A9F4);
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}
body::selection{
    background-color: #FF6D00;
    color: white;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
nav h3{
    margin: 0;
    padding: 0;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #FF6D00;
}
#nav-login{
    background-color: transparent;
    border-radius: 6px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    padding: 5px 20px;
    font-size: 1rem;
    font-style: normal;
    transition: all 0.5s;
    border: solid 2px #1A1D23;
    color: #1A1D23;
}
h1{
     margin: 0;
    padding: 0;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: white;
}
#left-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:14px;
}
#left-content > p{
    color: white;
    font-family: "Catamaran";
    width: 70%;
    margin: 0;
    padding: 0;
}
#main-content-login{
    background-color: white;
    border-radius: 6px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    padding: 6px 20px;
    font-size: 1rem;
    font-style: normal;
    width: 30%;
    transition: all 0.5s;
    border: solid 2px white;
    color: #1A1D23;
}
#main-content-login:hover{
    background-color: #FF6D00;
    color: white;
}
#main-content{
    display: flex;
    height: 90%;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
}
#nav-login:hover{
    background-color: #1A1D23;
    color: white;
}
h3::selection{
    background-color: white;
    color: #FF6D00;
}
button::selection{
    background-color: white;
    color: #FF6D00;
}
h1::selection{
    background-color: white;
    color: #FF6D00;
}
p::selection{
    background-color: white;
    color: #FF6D00;
}
h2::selection{
    background-color: white;
    color: #FF6D00;
}
label::selection{
    background-color: white;
    color: #FF6D00;
}
input::selection{
    background-color: white;
    color: #FF6D00;
}
#main-content > img{
    width: 50%;
    max-width: 500px;
    height: auto;
    min-width: 300px;
}
@media (max-width:1000px) {
    #main-content{
    display: flex;
    padding: 0px 50px;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 50px;
}
img{
    margin-bottom: 12px;
}
#left-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap:12px;
    margin-bottom: 50px;
}
h1{
    font-size: 7vw;
    text-align: center;
    width: 100%;
}
p{
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
#main-content-login{
    width: 100%;
    padding: 6px 100px;
}
}